body{
  font-family: 'Avenir Next Condensed';
  font-weight: normal;
  font-style: italic;
  background: #000;
  font-size: 12px;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

h2{
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin: 20px 0;
}

a{
  color: $primary;
  text-decoration: none;
  
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}


.top-bar{
  position: sticky;
  top: 0;
  z-index: 10;
  transform: translateY(-1px);
  display: none;
  
  img{
    display: block;
    max-width: 100%;
  }
}
